/*************************
assorted mix
**************************/
.headerassorted {
    background-color: deepskyblue;
    font-size: 100px;
    font-weight: bold;
    padding: 7px 0 7px 0;
    margin-left: 0px;
    margin-right: 0px;
    font-style: italic;
    text-align: center;    
}
.bodyassorted {
    background-image: url("img/kuang-si-falls-463925_1280.jpg");
    
}
.navassorted {
    background-color: lightblue;
    text-align: center;
    font-size: 25px;
}
.navassorted a:hover {
    background: white;
} 
ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    display: block;
}
li {
    display:inline;
    padding: 10px;
}
.parassorted {
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px 8px lightpink;
}
#mixes li {
    float: left;
    width: 20%;
    margin: 1.25%;
    background-color: lightcyan;
    color: black;
    text-shadow: 1px 1px 4px lightpink;
}
.footerassorted {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 0px;
    color: white;
    text-shadow: 2px 2px 8px lightblue;
    margin-top: 500px;
    margin-bottom: 0px    
}